<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Стихи ВКонтакте</title>
</head>
<body>
    <div class="main">
        <div>
            <h3>Владимир Ток</h3>
        </div>
        <div class="to-hide">
            <img src="/static/vtok.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Костя Крамар</h3>
        </div>
        <div class="to-hide">
            <img src="/static/kkramar.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>и. врублевский</h3>
        </div>
        <div class="to-hide">
            <img src="/static/ivrublevski.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Кравченко Дмитрий</h3>
        </div>
        <div class="to-hide">
            <img src="/static/dkravchenko.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Pola Шибеева</h3>
        </div>
        <div class="to-hide">
            <img src="/static/pshibeeva.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Юлия Зельвинская</h3>
        </div>
        <div class="to-hide">
            <img src="/static/yuzelvinskaya.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Ира Троц</h3>
        </div>
        <div class="to-hide">
            <img src="/static/itrots.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3> ZLATENTSIA ZOLOTOVA</h3>
        </div>
        <div class="to-hide">
            <img src="/static/zzolotova.png">
        </div>
    </div>
    <div class="main">
        <div>
            <h3>Статистика по всем сообществам</h3>
        </div>
        <div class="to-hide">
            <img src="/static/total.png">
        </div>
    </div>
</body>
</html>